html, body {height: 100%;}
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size:16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.container {display:flex; width:90%; padding:100px 0; margin:0 auto;}
.main {width:70%; height:800px;}
#map {height:100%; border-radius:20px;}

.aside {width:30%; padding:20px;}
.inputgroup {margin-bottom:30px;}
.aside label {display:block; padding:0 10px; margin-bottom:10px; font-size:18px; color:#666565;}
.aside input[type=text] {width:90%;padding:10px; font-size:16px; border:1px solid #e6e8e6; border-radius:10px;}
.aside button {padding:20px 30px; font-size:16px; border:none; border-radius:50px; background-color:#1a73e8; color:#fff;}